@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
}

.max-width {
	max-width: 1366px;
	margin: 0 auto;
}

.margin {
	width: 95%;
	margin: 0 auto;
}

h1, h2, .socials-color {
	color: #F29F3E;
}

.orange-border {
	border: 1px solid #F29F3E
}

.bg {
	background: #f3f3f3
}

.main-bg {
	background: url(../img/bg.webp) no-repeat 100% 0%;
	background-size: cover;
	height: auto;
	padding-bottom: 50px;
	position: relative;
}

.main-bg .header {
	padding-top: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.me {
	width: 200px;
	height: 200px;
}

.main-bg .header .header-intro p:first-child {
	color: #A7A7A7;
}

.main-bg .header .header-intro p:nth-child(3) {
	color: #1a1a1a;
	width: 80%;
}

.main-bg .header .header-intro h1 {
	margin: 5px 0;
}

.main-bg .header .header-intro .socials {
	display: flex;
	align-items: center;
}

.main-bg .header .header-intro a:not(:last-child) {
	margin-right: 5px;
}

.main-bg .projects {
	margin: 30px 0 50px 0;
}

.main-bg .projects h2 {
	margin: 30px 0;
}

.main-bg .projects .p-row {
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-bg .projects .p-row .project {
	position: relative;
	width: 500px;
	height: 300px;
	cursor: pointer;
	overflow: hidden;
}

.main-bg .projects .p-row .project .project-image {
	width: 100%;
	height: 100%;
	transition: all .3s ease-in-out
}

.main-bg .projects .p-row .project .overlay {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: all .3s ease-in-out
}

.main-bg .projects .p-row .project .overlay p {
	color: white;
}

.main-bg .projects .p-row .project:hover .project-image {
	transform: scale(2) rotate(5deg);
}

.main-bg .projects .p-row .project:hover .overlay {
	opacity: 1;
}

.main-bg .stacks {
	margin-bottom: 50px;
}

.main-bg .stacks h2 {
	margin: 0;
}

.main-bg .stacks .s-sub-title {
	color: #1a1a1a;
	font-size: 14px;
	margin-bottom: 30px;
}

.main-bg .education h2 {
	margin: 30px 0;
}

.school-image {
	border-radius: 100%;
	padding: 5px;
	margin-bottom: 5px;
}

 @media only screen and (max-width: 950px) {
	.main-bg {
	  background: #F3F3F3;
	}
	.main-bg .header {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: reverse;
			-ms-flex-direction: column-reverse;
				 flex-direction: column-reverse;
	  -webkit-box-align: center;
			-ms-flex-align: center;
				 align-items: center;
	}
	.main-bg .header .header-intro {
	  text-align: center;
	}
	.main-bg .header .header-intro p:nth-child(3) {
	  margin: 0 auto;
	  text-align: center;
	}
	.main-bg .header .header-image img {
	  width: 220px;
	  height: 180px;
	  margin-bottom: 15px;
	}
 }
 
 @media only screen and (max-width: 850px) {
	.main-bg .projects {
	  margin: 30px 0 50px 0;
	}
	.main-bg .projects h2 {
	  margin: 30px 0;
	}
	.main-bg .projects .p-row .project {
	  width: 49%;
	  height: 450px;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
			-ms-flex-pack: center;
				 justify-content: center;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
			-ms-flex-direction: column;
				 flex-direction: column;
	}
	

	.main-bg .stacks {
	  text-align: center;
	  margin-bottom: 50px;
	}
	.main-bg .stacks h2 {
	  margin: 15px 0;
	}
	
	.main-bg .education {
	  text-align: center;
	}
	.main-bg .education h2 {
	  margin: 30px 0;
	}
}

 @media only screen and (max-width: 650px) {
	.main-bg .projects {
	  text-align: center;
	}

	.main-bg .projects .p-row {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.main-bg .projects .p-row .project {
		height: auto;
		margin-bottom: 30px;
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.main-bg .header .header-image img {
		width: 200px;
		height: 150px;
	}
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: #F29F3E;
}
